* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
   --bg-sidebar: #0F263D;
   --bg-wrapper: #F8f9fa;
   --bg-search-bar: #e5e5e5;
   --bg-fa-code: #f26551;
   --bg-done:  #198754;
   --bg-process: #ffc107;
   --bg-failed: #e3192d;
   --bg-item: #6C757d;
   
}
/* utility */
.bg-search-bar {
    background-color: var(--bg-search-bar);
}
.bg-fa-code {
    background-color: var(--bg-fa-code);
}
.bg-done {
    background-color: var(--bg-done);
}
.bg-process {
    background-color: var(--bg-process);
}
.bg-failed {
    background-color: var(--bg-failed);
}
.fa-pen-fa-color {
    padding: 4px;
    margin: 0 1px;
    border: 1px solid var(--bg-item);
    border-radius: 2px;
    color: var(--bg-item);
}
.border {
    border-radius: 5px;
}
body {
font-family: 'Roboto', sans-serif;
}
.wrapper {
width: 100%;
height: 100vh;
background-color: var(--bg-wrapper);
}
header {
width: 100%;
height: 70px;

}
main {
width: 100%;
height: calc(100% - 70px);
display: flex;
}
#side-bar {
width: 100px;
height: 100vh;   
background-image: url(../img/sidebar-bg.png);
background-color: var(--bg-sidebar);
}
#main-content {
width: calc(100% - 100px);
overflow-y: auto;
}
/* Sidebar */
nav  li {
   list-style: none;
}

.side-bar-top {
    height: calc(100% - 150px);
    overflow: hidden;
    min-height: 500px;
}
.side-bar-bottom {
    max-height: 100px;
    position: relative;
    left: 0;
    bottom: -15px;    
}
nav a {
    text-decoration: none;
    color: white;
    display: none;
}
/* Header */
header ul li {
    list-style: none;
}
.container-img img{
    max-width: 70px;
    background-color: var(--bg-wrappers);
}
.section-item ul li{
    display: none;
}
