* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
   --bg-sidebar: #0F263D;
   --bg-wrapper: #F8f9fa;
   --bg-search-bar: #e5e5e5;
   --bg-fa-code: #f26551;
   --bg-done:  #198754;
   --bg-process: #ffc107;
   --bg-failed: #e3192d;
   --bg-item: #6C757d;
   --bg-title: #f7f7f7;
   --bg-badge: #165bba;
   
}
/* utility */
.bg-search-bar {
    background-color: var(--bg-search-bar);
}
.bg-fa-code {
    background-color: var(--bg-fa-code);
}
.bg-done {
    background-color: var(--bg-done);
}
.bg-process {
    background-color: var(--bg-process);
}
.bg-failed {
    background-color: var(--bg-failed);
}
.bg-item {
    background-color: var(--bg-item);
}
.bg-title {
    background-color: var(--bg-title);
}
.bg-badge {
    background-color: var(--bg-badge);
}
.fa-pen-fa-color {
    padding: 4px;
    margin: 0 1px;
    border: 1px solid var(--bg-item);
    border-radius: 2px;
    color: var(--bg-item);
}
.border {
    border-radius: 5px;
}
body {
font-family: 'Roboto', sans-serif;
}
.wrapper {
width: 100%;
height: 100%;
background-color: var(--bg-wrapper);
}
header {
width: 100%;
height: 70px;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
}
main {
width: 100%;
display: flex;
flex-flow: row nowrap;
}
#side-bar {
background-image: url(../img/sidebar-bg.png);
background-color: var(--bg-sidebar);
transition: all 1s;
padding-top: 70px;

}
#main-content {
flex-grow: 1;
padding-top: 70px;
overflow-y: auto;
transition: all 1s;

}

   
/* Sidebar */
nav  li {
   list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    display: none;
}
/* Header */
header ul li {
    list-style: none;
}
.container-img img{
    height: 50px;
    background-color: var(--bg-wrappers);
}


#main-content .mesi li {
    list-style: none;
}
/* hOVER */
#side-bar a:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.3);
}
.list-unstyled > li:hover{
cursor: pointer;
transform: scale(1.3);

}
.section-item li:hover{
    cursor: pointer;
    transform: scale(1.2);
}

    
